DB_PASSWORD=changeme
APP_URL=https://app.example.com
# APP_ACCESSIBLE_URL=https://public.example.com # if you have a different url to access your windmill instance from the user's browser
LICENSE_KEY=my.123.key
# API_SECRET=